
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #D9D9D9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 1. POSICIONAMENTO DO MENU LATERAL (app-left-sidebar) */
.sidebar-menu {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 250px; 
    background-color: #000033; 
    z-index: 100;
}

.page-content-wrapper {
    /* CHAVE: Empurra o conteúdo para a direita para não sobrepor o menu fixo */
    margin-left: 250px; /* Deve ser EXATAMENTE a largura do .sidebar-menu */
    padding: 20px; 
    padding-top: 40px; 
    flex-grow: 1;
}

.page-content-wrapper h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}


.principal {
    display: flex; /* Alinha filtros e tabela lado a lado */
    gap: 3em;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
}

.tabela{
    flex-grow: 1; /* Permite que a tabela ocupe o espaço restante */
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    overflow-x: auto; /* Adiciona barra de rolagem horizontal se necessário */
}

table {
    width: 60em; 
    border-collapse: collapse;
}

thead {
    background: #f5f6f8;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.filtros {
    width: 180px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0; 
}

.filtros h3 {
    font-style: italic;
    margin-top: 0;
    font-size: 16px;
}

.filtro {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}

.filtro label {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filtro input {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

.filtro.ativo input {
    display: block;
}

.seta {
    font-size: 12px;
    transition: transform 0.3s;
}

.filtro.ativo .seta {
    transform: rotate(180deg);
}