*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 15vh;
    height: 100%;
}