

body{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 15vh;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.tabela{
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 170vh;
    border-collapse: collapse;
    height: 100%
    
}

thead {
    background: #f5f6f8;
}

th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #eee;
}

.principal{
    display: flex;
    gap: 3em;
}


.filtros {
      width: 180px;
      background: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .filtros h3 {
      font-style: italic;
      margin-top: 0;
      font-size: 16px;
    }

    .filtro {
      border-top: 1px solid #ddd;
      padding: 10px 0;
      cursor: pointer;
      position: relative;
    }

    .filtro label {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .filtro input {
      width: 100%;
      margin-top: 8px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: none;
    }

    .filtro.ativo input {
      display: block;
    }

    .seta {
      font-size: 12px;
      transition: transform 0.3s;
    }

    .filtro.ativo .seta {
      transform: rotate(180deg);
    }